@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Ubuntu:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Ubuntu", sans-serif;
  font-size: 65%;
}

body {
  background-color: aliceblue;
  margin: 2.5rem auto;
}

header {
  display: flex;
  width: 80vw;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem auto;
  padding: 0 2.2rem;
  font-size: 2.5rem;
  border: 2px solid black;
}

.logo {
  display: block;
  font-size: 35px;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 4rem;
  cursor: pointer;
}

.nav-item:not(:last-child) {
  border-right: 2.5px solid black;
  padding-right: 4.5rem;
}

.nav-item:hover {
  text-shadow: 0.5rem 1rem 2rem #000;
}

footer {
  display: flex;
  width: 80vw;
  height: 8vh;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem auto;
  padding: 0 2.2rem;
  font-size: 2.5rem;
  border: 2px solid black;
  position: fixed;
  bottom: 0;
  left: 10%;
  letter-spacing: 0.5rem;
}

main {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
  padding: 60px 0;
}

.text--medium {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: black;
}

.cards {
  display: grid;
  grid-column: 2 / span 12;
  grid-template-columns: repeat(12, minmax(auto, 60px)) 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-left: 20px;
}

.card {
  grid-column-end: span 3;
  display: flex;
  flex-direction: column;
  background-color: goldenrod;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.card:hover {
  transform: translateY(-7px);
}

.card__image-container {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.card__image-container img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__content {
  padding: 20px;
}

.card__title {
  margin-bottom: 20px;
}

.card__info {
  display: flex;
  align-self: end;
  align-items: center;
}

.card__likes {
  margin-left: auto;
  padding: 5px 5px;
  background-color: whitesmoke;
  border-radius: 20px;
}

.card__reservations {
  margin-left: auto;
  margin-right: auto;
  padding: 5px 20px;
  background-color: whitesmoke;
  border-radius: 20px;
}

.card__comments {
  margin-right: auto;
  background-color: whitesmoke;
  border-radius: 20px;
}

@media only screen and (max-width: 1000px) {
  .card {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 700px) {
  main {
    grid-gap: 20px;
  }

  .card {
    grid-column-end: span 12;
  }
}

@media only screen and (max-width: 500px) {
  main {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }

  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }

  .card {
    grid-column-end: span 6;
  }
}
