@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Ubuntu:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

html {
  font-family: "Ubuntu", sans-serif;
  font-size: 65%;
}

body {
  background-color: #222;
  margin: 2.5rem auto;
}

ul {
  list-style: none;
}

a {
  all: unset;
}

button {
  border-radius: 5px;
  border: 2px solid black;
  background-color: aliceblue;
  height: 3rem;
  width: 9rem;
}

button:hover {
  border: aliceblue;
  background-color: #222;
  color: aliceblue;
}


/* Header and footer */

header {
  background-image: url('./modules/logo/logo_png.png');
}

header,
footer {
  background-repeat: no-repeat;
  width: 80vw;
  height: 10vh;
  border: 3px solid #111;
  border-radius: 5px;
  display: flex;
  color: aliceblue;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  background-color: #333;
  padding: 2rem;
  font-size: 3rem;
  z-index: 1;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 4rem;
  cursor: pointer;
}

.nav-item:not(:last-child) {
  border-right: 3px solid aliceblue;
  padding-right: 4rem;
}

.nav-item:hover {
  text-shadow: 0.5rem 1rem 2rem aliceblue;
}

.logo {
  display: block;
  width: 22rem;
  cursor: pointer;
}

footer {
  position: relative;
  bottom: 0;
  letter-spacing: 0.5rem;
}

@media screen and (max-width: 800px) {
  header,
  footer {
    width: 95vw;
    font-size: 2rem;
  }

  .nav-list {
    gap: 2rem;
  }

  .nav-item:not(:last-child) {
    padding-right: 2rem;
  }
}


/* End Header and Footer section */


/* Main section */

.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  border: 5px solid #111;
  border-radius: 12px;
  padding: 1.5rem;
  background-color: aliceblue;
}

.img-card {
  display: block;
  max-width: 30rem;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.4s;
}

.img-card:hover {
  transform: scale(1.1);
}

.card__title,
.movie-title {
  color: black;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}


/* Feature like and buttons */

.like-icon {
  width: 2.5rem;
  vertical-align: middle;
  margin: 0 1.5rem 0.4rem;
  cursor: pointer;
  transition: 0.3s;
}

.like-icon:hover {
  transform: scale(1.5);
}


/* .btn {
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 7px;
  background-color: red;
  color: #fff;
  font-size: 2rem;
  transition: 0.4s;
}

.btn:hover,
.btn:active {
  background-color: black;
  color: #fff;
} */


/* End Feature like and buttons */


/* The End main section */


/* Modal section start */

.modal-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  inset: 0 0 0 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(0.5rem);
  z-index: 5;
}

.show-modal {
  display: flex;
}

.modal-card {
  background-color: khaki;
  width: 40%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
  overflow: auto;
  padding-bottom: 4rem;
  border-radius: 10px;
}

.close-modal-btn {
  position: absolute;
  top: 8px;
  right: 38px;
  align-self: flex-end;
  border-style: none;
  border-radius: 50%;
  background-color: #fff;
  font-size: 3rem;
  cursor: pointer;
  outline: none;
  width: 4rem;
  height: 4rem;
  margin: 2rem 2rem 0 0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.close-modal-btn:hover {
  color: #fff;
  background-color: #cc2008;
}

.close-modal-btn:active {
  color: #fff;
  background-color: #23180d;
}

.modal-card figure {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal-card img {
  width: 100%;
  height: 100%;
}

.modal-card .modal-header {
  position: relative;
  width: 100%;
}

.modal-card .recipe-title {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #fff;
  background-color: #cc2008;
  font-weight: 400;
  font-size: 3rem;
  padding: 2rem;
  text-align: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 2px -6px 8px 1px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.modal-card iframe {
  height: 40rem;
  width: 100%;
  border-radius: 20px;
}

.modal-card .info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 2rem;
}

.modal-card h3 {
  width: 100%;
  color: #fff;
  color: #cc2008;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.modal-card p {
  width: 90%;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.modal-card p span {
  display: inline-block;
  font-weight: 300;
  color: #000;
  background-color: rgba(243, 165, 2, 0.2);
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  font-size: 1.6rem;
}

.modal-card p.description {
  text-align: justify;
}


/* Modal section end */
